<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="content">
    <div class="img_logo" text-center>
      <img src="../../assets/image/facebook-logo.png" />
    </div>

    <br>
    <br>

    <!-- [ Content ==================================================== ] -->
    <ion-grid style="padding: 0%;">
      <ion-row size="12">
        <ion-col size="11" class="ion_col_profile" >
          <ion-row size="12">
            <ion-col size="4">
              <img id="profile_img" src="../../assets/image/profile.jpg" />
            </ion-col>
            <ion-col size="8">
              <ion-row> 
                <p id="name_facebook"> Tosporn Boontarik </p>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="1" class="ion_col_profile" >
          <p>
            <ion-icon id="icon_more" slot="end" class="icon_middle" name="more"></ion-icon> 
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- [ ============================================================ ] -->
    <hr>
    <ion-grid>
      <ion-row class="ion_row" size="12" >
        <ion-col size="1" class="col_icon" >
          <span> <ion-icon slot="start" class="icon_middle" name="add"></ion-icon> </span>
        </ion-col>
        <ion-col size="10" >
          <span> &nbsp; Log Into Another Account </span>
        </ion-col>
      </ion-row>
      <ion-row class="ion_row" size="12" >
        <ion-col size="1" class="col_icon" >
          <span> <ion-icon slot="start" class="icon_middle" name="search"></ion-icon> </span>
        </ion-col>
        <ion-col size="10" >
          <span> &nbsp; Find Your Account </span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- [ Footer ===================================================== ] -->
    <div class="sec_bottom">
      <section class="full-width">
        <ion-button class="btn_bottom" [color]="buttonColor" expand="full" (click)="goToRegister()">
          CREATE NEW FACEBOOK ACCOUNT
        </ion-button>
      </section>
    </div>

  </div>
</ion-content>
