// [ Logo ========================================================= ]
.content {
    background-color: #4e5e37;
    height: 100%;
    padding-left: 8.84%;
    padding-right: 8.84%;
}
.img_logo {
    @media ( max-width: 500px ) {
        /* some CSS for small resolution */
        padding-top: 50%;
    }
    @media ( min-width: 600px ) {
        /* some CSS for large resolution */
        padding-top: 5%;
    }
    img {
        height: 50px !important; // 8vh
        width: auto !important;
    }
}

// [ Content ====================================================== ]
.ion_col_profile { padding: 0%; }
.hydrated {
    padding: 0%;   
}
.profile_img {
    height: 60px !important; // 8vh
    width: auto !important;
}
.name_facebook {
    margin-top: 23px;
    font-size: 14px;
    color: #f5f5f5;
}
.icon_more { 
    background: #6bafa9; 
    border: 1.45px solid #6bafa9;
}
ion-item { background-color: #6bafa9; }
hr { border-block-end: 1.45px solid #264f5c; }
ion-grid, .col_icon { padding: 0%; }
.ion_row { padding-bottom: 5%; }
ion-icon {
    background: #252f1e;
    border: 1.45px solid #252f1e;
    font-size: 26px;
    color: #f5f5f5;
}
ion-icon.more_icon {
    background: transparent;
    border: transparent;
}
span {
    font-size: 13px;
    color: white;
    padding-left: 5%;
    // margin-bottom: 50px;
}

// [ Footer ======================================================= ]
.sec_bottom {
    position: fixed;
    left: 8%;
    right: 8%;
    bottom: 5%;
}



