<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="content">
    <div class="img_logo" text-center>
      <img src="../../assets/icon/drawable-hdpi-icon.png" />
    </div>
    <br>
    <br>

    <!-- [ Content =========================================================== ] -->
    <ion-grid style="padding: 0%;">
      <ion-row size="12">
        <ion-col size="11" class="ion_col_profile" >
          <ion-row size="12">
            <ion-col size="4">
              <img class="profile_img" src="../../assets/icon/drawable-xhdpi-icon.png" />
            </ion-col>
            <ion-col size="8">
              <ion-row> 
                <p class="name_facebook"> Name Surname </p>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="1" class="ion_col_profile" >
          <p>
            <ion-icon class="more_icon" slot="end" name="more"></ion-icon> 
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- [ =========================================================== ] -->
    <hr>
    <ion-grid>
      <ion-row class="ion_row" size="12" >
        <ion-col class="col_icon" size="1" >
          <span> <ion-icon slot="start" name="add" (click)="openLoginto()"></ion-icon> </span>
        </ion-col>
        <ion-col size="10" >
          <span> &nbsp; Log Into Another Account </span>
        </ion-col>
      </ion-row>
      <ion-row class="ion_row" size="12" >
        <ion-col class="col_icon" size="1" >
          <span> <ion-icon slot="start" name="search"></ion-icon> </span>
        </ion-col>
        <ion-col size="10" >
          <span> &nbsp; Find Your Account </span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- [ Footer =========================================================== ] -->
    <div class="sec_bottom">
      <section class="full-width">
        <ion-button class="btn_primary" expand="full" (click)="openSignup()">
          CREATE NEW ACCOUNT
        </ion-button>
      </section>
    </div>
  </div>
</ion-content>
