// [ First Impression ]
// ion-menu.hydrated.split-pane-side.md.menu-type-overlay.menu-enabled.menu-side-start.menu-pane-visible {
// .split-pane-visible>.split-pane-side:not(ion-menu), .split-pane-visible>ion-menu.split-pane-side.menu-enabled {
//     display: none !important;
// }


// [ Logo ========================================================= ]
.content {
    background-color: #4267b2;
    height: 100%;
    padding-left: 8.84%;
    padding-right: 8.84%;
}
.img_logo {
    @media ( max-width: 500px ) {
        /* some CSS for small resolution */
        padding-top: 50%;
    }
    @media ( min-width: 600px ) {
        /* some CSS for large resolution */
        padding-top: 5%;
    }
    img {
        height: 50px !important; // 8vh
        width: auto !important;
    }
}

// [ Content ====================================================== ]
.ion_col_profile { padding: 0%; }
.hydrated {
    padding: 0%;   
}
#profile_img {
    height: 60px !important; // 8vh
    width: auto !important;
}
#name_facebook {
    margin-top: 23px;
    font-size: 14px;
    color: #f5f5f5;
}
#icon_more { 
    background: #4267b2; 
    border: 1.45px solid #4267b2;
}
ion-item { background-color: #355089; }
hr { border-block-end: 1.45px solid #2b4a81; }
ion-grid, .col_icon { padding: 0%; }
.ion_row { padding-bottom: 5%; }
ion-icon {
    background: #355089;
    border: 1.45px solid #355089;
    font-size: 26px;
    color: #f5f5f5;
}
span {
    font-size: 13px;
    color: white;
    padding-left: 5%;
    // margin-bottom: 50px;
}

// [ Footer ======================================================= ]
.sec_bottom {
    position: fixed;
    left: 8%;
    right: 8%;
    bottom: 5%;
}
.btn_bottom {
    --box-shadow: none;
    border: 1.45px solid #2b4a81;
    font-size: 12px;
    color: white; // #f5f5f5
    letter-spacing: inherit;
}


