<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="signupForm">
        <ion-item>
          <span position="floating">Fullname &nbsp;</span>
          <ion-input type="text" formControlName="fullname"></ion-input>

          <div class="validators_messages">
            <ng-container *ngFor="let error of validators_messages.fullname">
              <div class="validators_messages" *ngIf="signupForm.get('fullname').hasError(error.type) && (signupForm.get('fullname').dirty || signupForm.get('fullname').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
        </ion-item>
        <ion-item>
          <span position="floating">Username &nbsp;</span>
          <ion-input type="text" formControlName="username"></ion-input>

          <div class="validators_messages">
            <ng-container *ngFor="let error of validators_messages.username">
              <div class="validators_messages" *ngIf="signupForm.get('username').hasError(error.type) && (signupForm.get('username').dirty || signupForm.get('username').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
        </ion-item>
        <ion-item>
          <span position="floating">E-mail &nbsp;</span>
          <ion-input type="text" formControlName="email"></ion-input>

          <div class="validators_messages">
            <ng-container *ngFor="let error of validators_messages.email">
              <div class="validators_messages" *ngIf="signupForm.get('email').hasError(error.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
        </ion-item>
        <ion-item>
          <span position="floating">Password &nbsp;</span>
          <ion-input type="password" formControlName="password"></ion-input>

          <div class="validators_messages">
            <ng-container *ngFor="let error of validators_messages.password">
              <div class="validators_messages" *ngIf="signupForm.get('password').hasError(error.type) && (signupForm.get('password').dirty || signupForm.get('password').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
        </ion-item>
      <ion-button class="btn_primary" [disabled]="signupForm.invalid" size="large" expand="full" (click)="signup(signupForm.value)">
        CREATE ACCOUNT
      </ion-button>
  </form>
  <hr>
  <ion-button class="btn_primary" color="danger" size="large" expand="full" (click)="goBack()">BACK</ion-button>
</ion-content>
