.text_mini {
    font-size: 0.8em;
    color: #252f1e;
    text-align: center;
}
.validators_messages {
    font-size: 0.8em;
    color: red;
    text-align: center;
}
hr { border-block-end: 1.45px solid #264f5c; }
.handle_hover:hover {
    cursor: pointer;
}